<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>
    <style>
    </style>
</head>

<body>
    <h1> Your account is <%= account.name %> </h1>
    <h3>Available balance: <%= [account.currency, account.balance].join(" ")%></h3>
</body>

</html>